.page-background {
  background-image: url("/images/abstract-art-astronomy.jpg");
  background-size: cover;
  color: white;
  margin-bottom: 0; }

.timeline {
  background-image: url("/images/spiration dark.png");
  background-size: tile;
  position: relative; }

.timeline-body .left {
  left: 0; }
.timeline-body .right {
  left: 50%; }
.timeline-body .right::after {
  left: -12px; }

.timeline-body::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -0.3px; }

.timeline-item {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
  visibility: hidden; }
  .timeline-item .content {
    position: relative;
    visibility: hidden; }
    .timeline-item .content .event-content {
      padding: 20px 30px;
      background-color: white;
      border-radius: 6px; }
  .timeline-item .content.bounceIn {
    visibility: visible; }

.timeline-item::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px dashed grey;
  top: 15px;
  border-radius: 50%;
  z-index: 1; }

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline-body::after {
    left: 31px; }

  /* Full-width containers */
  .timeline-item {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px; }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-item::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent; }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px; }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%; } }
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: right; }

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%; }

.awards-list {
  margin-left: auto;
  margin-right: auto;
  left: 50%; }
  .awards-list li {
    visibility: hidden; }
  .awards-list li.fadeInLeft {
    visibility: visible; }

.page-title {
  padding: 40px;
  background-color: #4C85C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 5px #4C85C4;
          box-shadow: 0 5px 5px #4C85C4;
  margin-bottom: 5px; }
  .page-title span {
    color: white;
    font-family: 'Lobster', cursive;
    font-size: 48px;
    position: absolute; }
  .page-title br {
    display: block;
    margin: 10px 0; }

.publications {
  background-color: #efefef; }

.publication-item {
  display: inline;
  padding-right: 30px;
  visibility: hidden; }

.publication-item.fadeIn {
  visibility: visible; }

.books .col-lg-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .books .col-lg-6 .right-item {
    -ms-flex-item-align: end;
        align-self: flex-end; }
  .books .col-lg-6 .left-item {
    -ms-flex-item-align: start;
        align-self: flex-start; }
  .books .col-lg-6 p, .books .col-lg-6 img {
    visibility: hidden; }
  .books .col-lg-6 .fadeInRight, .books .col-lg-6 .fadeInLeft {
    visibility: visible; }
