<div class="timeline-item <%= side %> animateOnScroll" >
  <div class="animated content ">
    <h3 class="text-white"><%= date %></h3>
    <p class="event-content text-dark">
      <%= content %>
    </p>
  </div>
</div>
