---
title: Home
---
<div class="jumbotron jumbotron-fluid page-background">
  <h1 class="text-center">Stephen Hawking</h1>
  <div class="row">
    <div class="col-lg-6">
      <%= tag :img, :src => "images/hawking-stephen.png", :class => "float-right animated bounceInLeft" %>
    </div>
    <div class="col-lg-6">
      <h4 class="text-left animated bounceInRight">Did you know...</h4>
      <p class='text-left animated bounceInRight' id="dyk-text"></p>
    </div>
  </div>
</div>
<div class="container-fluid timeline">
  <h1 class="text-white">Timeline</h1>
  <div class="timeline-body">
        <div class="timeline-item left animateOnScroll" >
          <div class="animated content ">
            Test
          </div>
        </div>
        <div class="timeline-item right animateOnScroll">
          <div class="content animated">
            Test 2
          </div>
        </div>
    </div>
</div>
<%= javascript_include_tag 'home' %>
